<main class="main-container"> 
    <h1> Word Generator </h1> 


    <h2> Welcome </h2> 


    <nav> 
   
        <a class="all-button" href="products"> All Words </a> 
        <a class="new-button" href="products/new"> New Word </a> 
    </nav> 
</main> 