<main> 
    <a href="/products">Back</a> 

    <p> 
        <strong> Title: </strong> 
        <%= @product.title %> 
    </p> 

    <p>
        <strong>Text: </strong> 
        <%= @product.text %> 
    </p> 
</main> 
